:root{
    --header-text-color: #FFF;
    --main-text-color: #000;
    --main-section2-color:#323232;
    --main-begrund-color: #FFF;
    --main-ngtext-color: #999;
    --buttun-color: #FFF;
    --footer-text-color: #FFF;
    --footer-bg-color:#F6F6F6;
    --accent-color: #4985FF;
} 

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


body{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

.container {
    max-width: 1936px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../public/images/rectangle.jpg) lightgray 0px -67.183px / 100% 134.84% no-repeat;
    
}

.header__top{
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: 16px;
    font-weight: 500;
}

.menu__list {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: var(--header-text-color);
    gap: 20px;
}

.header__button {
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
    width: 200px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 30px;
background: var(--accent-color);
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}
.stydia{
color: var(--main-ngtext-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.stydia__main {
    width: 829px;
height: 111px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 134.09%;
}