:root {
    --header-color: #FFF;
    --main-text-color: #000;
    --main-peh-color: #999;
    --main-bg-color: #F6F6F8;
    --main-black-color: #323232;
    --main-href-color: #4985FF;
}



.container {
    max-height: 1936px;
    margin-right: auto;
    margin-left: auto;
}

.header_list {
display: flex;
gap: 20px;
list-style: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main {
text-align: center;
}
.about{
    list-style: none;
    text-align: center;
}

.about__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
.about__href{
    border-radius: 30px;
background: var(--main-href-color);
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0);
}