:root {
    --font:"Montserrat", sans-serif;
    --main-black: #000;
    --dark: #323232;
    --main-grey: #999;
    --main-white: #FFF;
    --white: #F9F9F9;
}

body, html {
    font-family: var(--font);
    font-size: 16px;
    font-weight: 500;
    background-color: var(--white);
    width: 100%;
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-height: 1936;
    margin-left: auto;
    margin-right: auto;
}

/* main */
main {
    background-image: url("../public/images/rectangle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}